@font-face {
	font-family: 'Museo Sans Medium';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-500'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Light Italic';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-300Italic'),
		url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans Medium Italic';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-500Italic'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans Black';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-900.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-900'),
		url('../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Bold';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-700'),
		url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Bold Italic';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-700Italic'),
		url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans Light';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-300.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-300'),
		url('../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Thin';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-100.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-100'),
		url('../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-100.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-100.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Thin Italic';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-100Italic'),
		url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans Black Italic';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot');
	src: local('Museo Sans Cyrl 900 Italic'), local('../fonts/MuseoSans/MuseoSansCyrl-900Italic'),
		url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


@mixin reg {
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300;
}
@mixin medium {
    font-family: 'Museo Sans Medium', sans-serif;
    font-weight: 500;
}
@mixin bold {
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
}
@mixin black {
    font-family: 'Museo Sans Black', sans-serif;
    font-weight: 900;
}