body
    font-family: sans-serif
    
.container
    width: 1170px
    margin: auto

@media ( max-width: 1200px)
    .container
        width: 960px
        margin: auto

.button
    border-radius: 10px
    background-color: $main-color
    border: none
    padding: 18px 30px



