.offer
    &-block
        width: 50%
        padding-right: 90px
    
    &__title
        +bold
        max-width: 360px

    
    &__subtitle
        display: inline-block
        max-width: 250px
    
    &__input
        margin-right: 14px
        margin-bottom: 30px